[user]
  name = Cameron Desautels
  email = camdez@gmail.com
  signingkey = 242282E9
[core]
  excludesfile = ~/.gitignore
[alias]
  #l = log --pretty=format:\"%Cred%h%Creset %s\"
  l = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
  whiteout = !whiteout `git ls-files -m`
  x = !gitx
  conflicts = diff --name-only --diff-filter=U
  resolve = !$EDITOR `git diff --name-only --diff-filter=U`
[color]
  ui = auto
[difftool]
  prompt = false
[github]
  user = camdez
  password = !security find-generic-password -gs github.password -w | tr -d '\n'
[push]
  default = simple
[fetch]
  prune = true

#[includeIf "gitdir:~/src/bridgewater/"]
#  path = ~/src/bridgewater/.gitconfig

[diff "clj"]
  xfuncname = "^(\\(.*)$"
  wordRegex = "[-:_./*+$?%><a-zA-Z0-9]+"
