[submodule "dot-emacs.d/lib/rinari"]
	path = dot-emacs.d/lib/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "dot-emacs.d/lib/clojure-mode"]
	path = dot-emacs.d/lib/clojure-mode
	url = https://github.com/jochu/clojure-mode.git
[submodule "dot-emacs.d/lib/feature-mode"]
	path = dot-emacs.d/lib/feature-mode
	url = https://github.com/michaelklishin/cucumber.el.git
[submodule "dot-emacs.d/lib/full-ack"]
	path = dot-emacs.d/lib/full-ack
	url = https://github.com/nschum/full-ack.git
[submodule "dot-emacs.d/lib/org-mode"]
	path = dot-emacs.d/lib/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "dot-emacs.d/lib/haml-mode"]
	path = dot-emacs.d/lib/haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule "dot-emacs.d/lib/sass-mode"]
	path = dot-emacs.d/lib/sass-mode
	url = https://github.com/nex3/sass-mode.git
[submodule "dot-emacs.d/lib/yaml-mode"]
	path = dot-emacs.d/lib/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "dot-emacs.d/lib/markdown-mode"]
	path = dot-emacs.d/lib/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "dot-emacs.d/lib/magit"]
	path = dot-emacs.d/lib/magit
	url = https://github.com/magit/magit.git
